<div
  class="h-100 position-relative"
  *ngIf="activeEnvironment$ | async as activeEnvironment"
>
  <div class="scroll-content h-100 flex-fill" #environmentHeadersContainer>
    <app-headers-list
      id="environment-headers"
      [activeDataSubject$]="activeEnvironment$"
      dataSubject="environment"
      headersPropertyName="headers"
      secondaryButton="add CORS headers"
      (secondaryButtonClicked)="addCORSHeaders()"
      (headersUpdated)="headersUpdated($event)"
      (headerAdded)="scrollToBottom(environmentHeadersContainer)"
    ></app-headers-list>
  </div>
</div>
